.dash-body{
  margin-top:50px;
  margin-left:40px;
  margin-right:50px;
  margin-bottom: 50px;
  /* width:100vw;
  height: 100vh; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  background-color: rgb(229, 253, 248);
  background-size: cover;
}
.perform-title{
  font-size: 20px;
  font-weight: bold;
}
li{
  list-style-type: none;
  text-align: left;
  font-size: large;
}
.profile-icon{
  display: flex;
  justify-content: center;
}


/* 
@media only screen and (max-width: 620px) {
  .profile-icon, .main, .right {
    width: 100%;
  }
} */